.section-footer{
    background: #1F1F1F;
    width: 100%;
    height: 150px;
    .section-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        ul{
            padding: 0;
            height: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            li{
                margin-left: 35px;
                a{
                    font-family: sans-serif;
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}
@media screen and (min-width: 479px) and (max-width: 800px){
    .section-footer{
            background: #1F1F1F;
            width: 100%;
            height: 280px;
            .section-inner{
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% - 40px);
                height: 100%;
                margin: 0 auto;
        }
    }
    @media screen and (max-width: 479px){
        .section-footer{
            background: #1F1F1F;
            width: 100%;
            height: 280px;
            .section-inner{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(100% - 40px);
                height: 100%;
                margin: 0 auto;
                nav{
                    ul{
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        list-style: none;
                        li{
                            margin-top: 5px;
                            margin-left: 0px;
                            a{
                                font-family: sans-serif;
                                color: #fff;
                                font-size: 16px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}